.align-group-flex-center {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.font-weight-bold {
    font-weight: bold;
}

.result-demo {
    width: 200px;
    height: 200px;
}

.result {
    font-size: 2em;
}

input.error {
    border-color: #f00;
}

label.error {
    color: #f00;
}